html {
  background-color: #111;
  color: #eee;
}

.hidden-word {
  background-color: #254146;
  color: #254146;
  cursor: pointer;
}

nav.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.header ul li {
  float: left;
}

nav.header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.header ul li a:hover {
  background-color: #111111;
}

/* AddForm */

#addForm {
  margin: 20px;
  display: grid;
  grid-template-columns: 120px 240px;
  row-gap: 0.75rem;
  column-gap: 1rem;
  align-items: center;
}

#addForm label {
  display: contents;
}

#addForm input {
  width: 100%;
}

#addButton {
  grid-column: 2;
  width: calc(100% + 8px);
  margin: 0 auto;
}
