/* Header */

nav.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.header ul li {
  float: left;
}

nav.header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.header ul li a:hover {
  background-color: #111111;
}

.navBarLink {
  text-decoration: none;
}

/* Hidden Word */

.hidden-word-light {
  background-color: #2c3e50;
  color: #2c3e50;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.hidden-word-light.fade-out {
  cursor: default;
  background-color: transparent;
}
.hidden-word-light.fade-in {
  cursor: default;
  background-color: #2c3e50;
}

.hidden-word-dark {
  background-color: #363e4c;
  color: #363e4c;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.hidden-word-dark.fade-out {
  cursor: default;
  color: #ecf0f1; /* Need to add the color here since the text color isn't the same as the hiding color */
  background-color: transparent;
}
.hidden-word-dark.fade-in {
  cursor: default;
  background-color: #363e4c;
}
